form {
    font-size: 28px;
    color: white;
    font-weight: 600;
}

.slide-page {
    text-align: center;
    height: 100vh;
    background-image: url('../images/background.jpeg');
    background-size: cover;
}

.map-restaurants {
    background-color: rgba(62, 33, 93, 0.7);
    color: white;
    width: 60%;
    display: inline-block;
    border-radius: 20px;
}

.map-restaurants p {
    display: inline;
}

.mapImage {
   width: 40%;
   height: 40%;
   border-radius: 20px;
}

.restaurantInfoDiv {
    margin: 3%;
}
/* button {

    background-color: #E7D9EA;
    font-size: large;
    font-weight: 600;
    padding: 5px 40px;
    border-radius: 10px;
} */

.swipeButton {
    margin: 15px;
    background-color: #E7D9EA;
    border-radius: 20px;
}