
.restaurantsProfile {
    /* text-align: center; */
    margin: 0 auto;
    background-image: url('../images/background.jpeg');
    background-size: cover;
    color: whitesmoke;
}

.profileContainerDiv {
    text-align: center;
}

.restaurantsProfile img {
    width: 300px;
    height: 300px;
}

.restaurantsProfile h4 {
    font-size: 10px;
}

.profileContainer {
    margin: 3%;
    background-color: rgba(62, 33, 93, 0.7);
    padding: 2% 1%;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
}

.bottomDiv {
    margin: 5% 10%;
}

.othersLiked {
    float: left;
}

.othersReview {
    float: right;
}

.likerDiv {
    background-color: rgba(62, 33, 93);
    padding: 5%;
    border-radius: 10px;
    border: 1px solid #E7D9EA;
    margin-bottom: 2%;
}

.likerDiv p {
    display: inline;
    font-weight: bold;
    font-size: 20px;
}

.likerDiv button {
    padding: 1%;
    border-radius: 30px;
    background-color: #E7D9EA;
    float: right;
}

.likerDiv img {
    height: 30%;
    width: 30%;
    border-radius: 30px;
    margin-left: 5%;
    margin-right: 5%;
} 

.likerName {
    display: inline;
    margin-right: 50px;
}

/* CSS for create comment */
.addAComment {
    background-color: rgba(62, 33, 93);
    padding: 3%;
    border-radius: 10px;
}

.addAComment label {
    font-size: 20px;
    margin-bottom: 10px;
}

.addAComment button {
    margin-top: 10px;
    background-color: #E7D9EA;
    border-radius: 20px;
}

/* CSS for whole page */
html {
    background-color: rgba(93, 130, 51, 0.8);
}