/* .signUpPage {
    background-image: url('../images/background.jpeg');
    background-size: cover;
} */

/* .signUp-div {
    background-color: rgba(93, 130, 51, 0.7);
    height: 60vh;
    padding-top: 30px;
    border-radius: 20px;
} */

 .form-label {
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
 }