#searchZip {
    font-size: 28px;
    color: #3E215D;
    font-weight: 600;
}

.rest-slide {
    text-align: center;
    background-color: rgba(93, 130, 51, .8) ;
    height: 100vh;
    padding-top: 10%;
    /* background-image: url('../images/background.jpeg'); */
}

