.home {
    height: 100%;
    background-size:cover;
    background-image: url('./images/background.jpeg');
    /* position: relative; */
    /* width: 100vh; */
    /* overflow: auto; */
    text-align: center;
    padding-top: 10%;
    padding-bottom: 1.5%;
    color: white;
}

.intro h1 {
    font-weight: bold;
    font-size: 100px;
}

.intro p {
    font-size: 40px;
    font-weight: 800;
}

.intro button {
    margin: 20px;
    background-color: #E7D9EA;
    font-size: large;
    font-weight: 600;
    padding: 10px 50px;
    border-radius: 10px;
}

img {
    height: 200px;
}