/* body {
    background-image: url('/src/components/introbackground.jpeg');
    background-size: cover;
} */

/* button {

    margin: 20px;
    background-color: #E7D9EA;
    font-size: large;
    font-weight: 600;
    padding: 5px 40px;
    border-radius: 10px;
} */


.intro {
    height: 100vh;
    background-size:cover;
    background-image: url('./images/background.jpeg');
    position: relative;
    /* width: 100vh; */
    /* overflow: auto; */
    text-align: center;
    padding-top: 10%;
    color: white;
    /* background-size:cover;
    background-image: url('./images/background.jpeg'); */
}

.intro h1 {
    font-weight: bold;
    font-size: 100px;
}

.intro p {
    font-size: 40px;
    font-weight: 800;
}

.intro button {
    margin: 20px;
    background-color: #E7D9EA;
    font-size: large;
    font-weight: 600;
    padding: 10px 50px;
    border-radius: 10px;
}

img {
    height: 200px;
}